html
  head
    title= title
  body
    img(src=uploadedImage style="max-height: 400px; max-width: 400px;")
    table
      tr
        td Age Range
        td #{low} - #{high}
      tr
        td Smiling?
        td #{smile.Value} Confidence #{smile.Confidence}
      tr
        td Likely Emotion?
        td #{emotion.Type} Confidence #{emotion.Confidence}
      tr
        td Beard?
        td #{beard.Value} Confidence #{beard.Confidence}